/****************************************
General
****************************************/
body {
   font-family: 'Fjalla One', sans-serif;
}


#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none; 
}

img {
    max-width: 100%;
}


/***************************************
Header
***************************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    text-align: center;
    margin: 0;
}
h1 {
    font-family: 'Caveat Brush', cursive;
    margin: 15px 0;
    font-size: 1.75em;
    line-height: 0.8em;
}

h2 {
    font-family: 'Caveat Brush', cursive;
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;
}
/***************************************
Navigation
***************************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}
/**************************************
Footer
**************************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: orangered;
    clear: both;
    margin: 0px;
    padding: 0px;
}

.social-media-icon {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  padding-left: 300px;
}

/***************************************
Page Portfolio
***************************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #003366;
    color: white;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: grey;
}

/***************************************
  About Page Portfolio
***************************************/
profile.photo {
    display: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}
    
    
 /***************************************
Colors
****************************************/
backround{
    background-color: grey;
    color: gray;
}
a {
    color: white;
}

header {
    background: #003366;
}
    h1, h2 {
        color:white;
    }
    nav {
        background: #003366;
    }
    nav a, nav a:visited {
        color:white;
    }
    
    nav a.selected, nav a:hover {
        color: orangered;
    }
        
    


/***************************************
Media Querie
***************************************/

/***************************************
Malcolm Wallace
***************************************/



.profile-photo {

}
